*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
}

.content {
  /* main */
  /* margin: auto; */
  display: flex;
  align-items: end;
  width: 1140px; /* width: 711px; */
  column-gap: 30px;
}

/* ---------- Секция result ----------*/

.result__video-container {
  /* Контейнер для видео */
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  /* Видео */
  width: 100%;
  height: 100%;
}

.search-form {
  /* Форма */
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
}

.search-form__fieldset-title {
  /* Заголовок h2 */
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #ffffff;
  /* text-align: left; */
}

.search-form__textfield {
  /* input */
  width: 240px;
  font-family: 'Fira Sans Condensed' 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background: none;
  outline: none;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  appearance: none;
}

.search-form__label {
  /* класс встречается в нескольких местах */
}

/* ---------- Секция content__details ----------*/

.content__details {
  /* Секция */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  row-gap: 26px;
}

.title {
  /* заголовок h1 */
  font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #ffffff;
  text-transform: uppercase;
  /* text-align: left; */
}

.content__accent {
  /* первые две буквы заголовка h1, они другого цвета */
  color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  /* text-align: left; */
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  /* text-align: left; */
}

.content__list {
  /* Список */
  height: 298px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__card-link {
  /* текст-ссылка в карточках */
  color: #ffffff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  /* poster */
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Для работы с элементами формы нужно активно применять паттерн .visually-hidden.
С его помощью вам нужно скрыть лишние лейблы и браузерные чекбоксы, чтобы потом нарисовать
поверх них свои. */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*----- Кнопки -----*/
.button {
  border: solid #ffffff 1px;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  background-color: transparent;
  color: #ffffff;
  /* text-align: center; */
}
.search-form__submit-button {
}

.more-button {
}

/*----- Селекторы -----*/
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}
