*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  margin: auto;
  display: flex;
  align-items: end;
  width: 711px;
  gap: 30px;
  background-color: rgba(255, 0, 0, 0.1);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 26px;
}

.content__list {
  height: 534px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
